{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"/>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="">
                            <span class="icon">
                                <icon-icon name="construct-outline"></icon-icon>
                            </span>
                            <span class="title">S.E.D</span>
                        </a>
                    </li>
                    <li>
                        <a href="index/">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Inicio</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="fileupload/">
                            <span class="icon">
                                <ion-icon name="file-tray-full"></ion-icon>
                            </span>
                            <span class="title">Registros</span>
                        </a>
                    </li>
                    <li>
                        <a href="logged_out/">
                            <span class="icon">
                                <ion-icon name="log-in-outline"></ion-icon>
                            </span>
                            <span class="title">Cerrar Sesion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <main>
            {% block body %}{% endblock %}
        </main>
            
        <!-- =========== Scripts =========  -->
        <script src="assets/js/main.js"></script>

        <!-- ====== ionicons ======= -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            $(".alert-success").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert-success").slideUp(500);
            });
            $(".alert-warning").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert-warning").slideUp(500);
            });
        </script>
    {% block javascript %}{% endblock %}
    </body>
</html>