{% extends 'layout/app.html' %}
{% load static %}
{% block body %}
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
            <h2>Registros</h2>
            </div>
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Admitido</th>
                            <th>No admitido</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.fecha }}</td>
                            <td>{{ document.admitido }}</td>
                            <td>{{ document.noadmitido }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>       
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(document).on('change', '.file', function (event) {
            document.getElementById('fileLabel').innerHTML = event.target.files[0].name;
        });
    </script>
{% endblock %}
