{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="cir"></div>
    <div class="content">
        <div class="textbox">
            <h1>SAFETY <span>EQUIPMENT</span> DETECTOR</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque nam quas voluptatem cum dolore
                praesentium facere dolores adipisci in minus odit molestias enim ipsum, amet magnam quis quidem quae?</p>
                <button></button>
            <a href="/login">Inicia Sesión</a>
        </div>
        <div class="imgbox">
            <img src="{% static '../static/EPP.png' %}" alt="">
        </div>
    </div>
</section>

{% endblock %}