<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SED</title>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    </head>
    <body>
        <section>
            <header>
                <nav class="navbar">
                    <img src="{% static 'sed.jfif' %}" class="logo" alt="">
                    <div class="tog" onclick="tog();"></div>
                    <ul class="navigation">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="/info">Inicio</a>
                        </li>
                        <li>
                            <a href="/cam">Camara</a>
                        </li>
                        <li>
                            <a href="/logout">cerrar sesión</a>
                        </li>
                        <{% else %}
                        <li>
                            <a href="/">Home</a>
                        </li> 
                        <li>
                            <a href="/signin">Registro</a>
                        </li>
                        <li>
                            <a href="/login">Inicio sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </section>
        <section>
            <div class="cir"></div>
            <div class="content">
                <div class="textbox">
                    <h1>SAFETY <span>EQUIPMENT</span> DETECTOR</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque nam quas voluptatem cum dolore
                        praesentium facere dolores adipisci in minus odit molestias enim ipsum, amet magnam quis quidem quae?</p>
                        <button></button>
                    <a href="/login">Inicia Sesión</a>
                </div>
                <div class="imgbox">
                    <img src="{% static '../static/EPP.png' %}" alt="">
                </div>
            </div>
        </section>
        <script type="text/javascript">
            function tog(){
                var menutog = document.querySelector('.tog');
                var navigation = document.querySelector('.navigation')
                menutog.classList.toggle('active');
                navigation.classList.toggle('active');
            }
        </script>  
    </body>
</html>